.footer {
  background-color: var(--primary);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.footer span {
  font-weight: bold;
  color: var(--accent);
}
